<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


        <main>
            <div>
              <form action="/vehicles" method="POST">
                <fieldset>
                    <legend>Build a new vehicle</legend>

                    <label>
                        COMPANY: <input type="text" name="name" placeholder="enter a vehicle make " />
                    </label>
                    <label>
                        MODEL: <input type="text" name="name" placeholder="enter a vehicle model" />
                    </label>
                    <label>
                        COLOR: <input type="text" name="name" placeholder="enter a vehicle color" />
                    </label>
                    <label>
                        HORSPOWER: <input type="text" name="name" placeholder="enter vehicle horsepower" />
                    </label>
                    <label>
                        COST: <input type="text" name="color" placeholder="enter cost of vehicle" />
                    </label>      
                    <label>
                        IN STOCK: <input type="checkbox" name="inStock" />
                    </label>    
                </fieldset>
                
                <input type="submit" value="Complete vehicle order" />
              </form>        

            </div>
        </main>
    </body>
</html>