<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/header.ejs") %>
    <div class="navbar">
        <a href="/user/signup"><button>Signup</button></a>
        <a href="/user/login"><button>Login</button></a>
    </div>
    <main class="">
       
        <div>


        </div>
        
    </main>
</body>
</html>