<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs") %>
    <main class="">
        
        <div>
        <div class="">
            <a href="/vehicle"><button>Home</button></a>
        </div>
        <form action="/vehicle" method="post">
        <fieldset>
            <legend>Build a new vehicle</legend>
            <label>
                COMPANY: <input type="text" name="name" placeholder="enter a vehicle make " />
            </label>
            <label>
                MODEL: <input type="text" name="name" placeholder="enter a vehicle model" />
            </label>
            <label>
                COLOR: <input type="text" name="name" placeholder="enter a vehicle color" />
            </label>
            <label>
                HORSPOWER: <input type="text" name="name" placeholder="enter vehicle horsepower" />
            </label>
            <label>
                COST: <input type="text" name="color" placeholder="enter cost of vehicle" />
            </label>      
            <label>
                IN STOCK: <input type="checkbox" name="inStock" />
            </label> 
        </fieldset>
        <div class="create-new">
        <input type="submit" value="Create new vehicle">
        </div>
        </form>
        </div>
       
    </main>
</body>
</html>