<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div>
        <div>
            <a href="/vehicle"><button>Home</button></a>
        </div>
        <form action="/vehicle" method="post">
        	<fieldset>
                <label>
                    Company:
                    <input type="text" name="company" placeholder="enter company" />
                </label>
                <br />
                <label>
                    Model:
                    <input
                        type="text"
                        name="model"
                        placeholder="enter vehicle model"
                    />
                </label>
                <br />
                <label>
                    Color:
                    <input
                        type="text"
                        name="year"
                        placeholder="enter vehicle color"
                    />
                </label>
                <br />
                <label>
                    Horsepower:
                    <input
                        type="text"
                        name="style"
                        placeholder="enter horsepower"
                    />
                </label>
                <br />
                <label>
                    Cost:
                    <input
                        type="text"
                        name="cost"
                        placeholder="enter vehicle cost"
                    />
                </label>
                <br />
                <label>
                    In Stock: <input type="checkbox" name="inStock" />
                </label>
            </fieldset>
        <div class="create-new">
        <input type="submit" value="Create new vehicle">
        </div>
        </form>
        <a href="/vehicle/"><button class="back">Back to Main</button></a>
        </div>
        <%- include("../partials/footer.ejs") %> 
    </main>
</body>
</html>